@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: $color-white;
  color: $color-black;
}

#root {
  height: 100vh;
  width: 100vw;
}

body.dark-theme {
  background-color: $color-black;
  color: #fff;
}

.dark-theme .container,
.dark-theme .dashboard-container,
.dark-theme .transactions-container,
.dark-theme .settings-container,
.dark-theme .analytics-container,
.dark-theme .summary-container,
.dark-theme .category-overview-container {
  background-color: #333;
  color: #fff;
}

.dark-theme input,
.dark-theme select,
.dark-theme button {
  background-color: #555;
  color: #fff;
  border: 1px solid #777;
}

.dark-theme .navbar {
  background-color: #222;
}

.dark-theme .balance-display {
  background-color: #444;
  color: #fff;
}

.dark-theme .transactions-list li,
.dark-theme .category-sum-item,
.dark-theme .transaction-cat-item {
  background-color: #444;
  color: #fff;
}

.dark-theme button {
  background-color: #666;
  color: #fff;
}

.dark-theme button:hover {
  background-color: #888;
}
