@import "../../styles/_variables.scss";

.analytics-container {
  padding-top: 60px;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;

  body.dark-theme & {
    background-color: #333;
    color: #fff;
  }
}

.analytics-container h2,
.analytics-container h3 {
  color: $color-dark;

  body.dark-theme & {
    color: #fff;
  }
}

.chart-controls {
  margin-bottom: 20px;

  label {
    margin-right: 10px;
    font-size: 1rem;
    font-weight: bold;
  }

  select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $color-dark;
    font-size: 1rem;
  }
}

.chart-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
